<h1>Add new post</h1>

<%= form_for @post do |f| %>
    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </P>
    <br>
    <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    </P>
    <br>
    <p>
    <%= f.select :category_id, Category.all.collect { |x| [x.name,x.id]}, {:include_blank =>"select 1"} %>
    </P><br>
    
    <%= f.submit "Add Post" %>
    
    </P>

<% end %>