<div class="post" >
    <h1><%= @post.title %></h1>
    <%= @post.updated_at.strftime("%d %b %Y") %>
    <p><%= @post.body %></P>
    
    Category: <%= link_to @post.category.name,category_path(:id => @post.category.id) %>

    <hr>
    <%= link_to "Edit post",edit_post_path %>
    
    <br>
    <%= link_to "Delete post", @post, :confirm => "wan to delete?", :method => :delete %>
    <% #link_to "Delete post", @post, confirm: "wan to delete?", method: :delete 
    %>
    <br>
    <%= link_to "Go back", "." %>

</div>