<div class="post" >
    <h1><%= @post.title %></h1>
    <%= @post.updated_at.strftime("%d %b %Y") %>
    <br>
    Created By: <%= @post.admin_user.name %>
    <br><br>
    <p><%= @post.body %></P>
    
    Category: <%= link_to @post.category.name,category_path(:id => @post.category.id) %>
    <br>
    <br>
    <%= link_to "Go back", "." %>
    <br>
    <hr>

    <h3><u>Add a Comment <u></h3>
    <br>
    <%= form_for @post_comment do |f| %>

        <%= f.hidden_field :post_id %>

        <%= f.label :name %>
        <%= f.text_field :name %>
        
        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :body %>
        <%= f.text_area :body %>
        

       <p> <%= f.submit "Post Comment" %><p>
        
     <% end %> 
     
     <%= render :partial => "partials/post_comment", :collection => @post.post_comments %>
</div>