<!DOCTYPE html>
<html>
  <head>
    <title>Rblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />

  </head>

  <body>
  
  <div id="wrapper">
	

	<%= render "partials/header" %>
	
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
        <div id="content">

              <div class="flash-message">
              <% flash.each do |key,value|%>
                  <p><%= value %></P>
              <% end %>
              </div>
              <%= yield %> <!-- main view -->
        
        <div style="clear: both;"></div>
				</div>
				<!-- end #content -->
				
				<%= render "partials/sidebar" %>

				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
	<!-- end #page -->
	<div id="footer">
		<p>&copy; 2018, My Ruby Blog </p>
	</div>
</div>
<!-- end #footer -->
  </body>
</html>
